[submodule "dependencies/local-search-algorithm-for-cubic-clustering"]
	path = dependencies/local-search-algorithm-for-cubic-clustering
	url = https://github.com/JlsBssmnn/local-search-algorithm-for-cubic-clustering.git
